@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-raleway-sans);

  /* Colors */
  --color-primary: #E3DDD3;
  --color-primary-200: #DCD0BB;
  --color-secondary: #8E9878;
  --color-tertiary: #A37409;
  --color-green-1: #25D366
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.container {
  max-width: 900px;
  margin: 0 auto;
  
  @media screen and (max-width: 900px) {
    max-width: 80%;
    
  }
}

body {
  background: var(--color-primary);
  color: var(--background);
  font-family: Raleway, Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}